:root {
  --background: #131a22;
  --primary: #4361ee;
  --secondary: #4CC9F0;
  --tertiary: #fff;
  --quaternary: #00416A;
  --title: #3a0ca3;
}

.App {
  background-color: var(--background);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.pageText{
  font-size: 250%;
  color: var(--secondary);
}

.rightSide{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 28px;
}

.review-title {
  font-weight: bolder;
  font-size: 80%;
  color: var(--secondary);
}

.review-text {
  font-style: italic;
  font-size: 90%;
  color: var(--tertiary);
}

.bloc-box {
  padding: 20px;
  margin: 25px 1px 5px 5px;
  border: 4px solid white;
  background: #002147;
  border-radius: 30px;
}

.small-title {
  color: var(--tertiary);
  padding-left: 20px;
}

.game-title {
  color: var(--secondary);
}

.username-link {
  font-size: 80%;
color: var(--tertiary);
}

.following-list{
  justify-content: right;
  background-color: var(--secondary);

}

input[type='radio'] {
  display: none;
}

.star {
  cursor: pointer;
  transition: color 200ms;
}
